In [2]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
data = "Price/AAPL.csv"

df = pd.read_csv(data)
print(df.shape)
df.tail(21)

(2218, 7)

,Date,Open,High,Low,Close,Adj Close,Volume
2197,2018-09-24,216.820007,221.259995,216.630005,220.789993,220.789993,27693400
2198,2018-09-25,219.750000,222.820007,219.699997,222.190002,222.190002,24554400
2199,2018-09-26,221.000000,223.750000,219.759995,220.419998,220.419998,23984700
2200,2018-09-27,223.820007,226.440002,223.539993,224.949997,224.949997,30181200
2201,2018-09-28,224.789993,225.839996,224.020004,225.740005,225.740005,22929400
2202,2018-10-01,227.949997,229.419998,226.350006,227.259995,227.259995,23600800
2203,2018-10-02,227.250000,230.000000,226.630005,229.279999,229.279999,24788200
2204,2018-10-03,230.050003,233.470001,229.779999,232.070007,232.070007,28654800
2205,2018-10-04,230.779999,232.350006,226.729996,227.990005,227.990005,32042000
2206,2018-10-05,227.960007,228.410004,220.580002,224.289993,224.289993,33580500
2207,2018-10-08,222.210007,224.800003,220.199997,223.770004,223.770004,29663900
2208,2018-10-09,223.639999,227.270004,222.250000,226.869995,226.869995,26891000
2209,2018-10-10,225.460007,226.350006,216.050003,216.360001,216.360001,41990600
2210,2018-10-11,214.520004,219.500000,212.320007,214.449997,214.449997,53124400
2211,2018-10-12,220.419998,222.880005,216.839996,222.110001,222.110001,40337900
2212,2018-10-15,221.160004,221.830002,217.270004,217.360001,217.360001,30791000
2213,2018-10-16,218.929993,222.990005,216.759995,222.149994,222.149994,29184000
2214,2018-10-17,222.300003,222.639999,219.339996,221.190002,221.190002,22885400
2215,2018-10-18,217.860001,219.740005,213.000000,216.020004,216.020004,32581300
2216,2018-10-19,218.059998,221.259995,217.429993,219.309998,219.309998,33078700
2217,2018-10-22,219.789993,223.360001,218.940002,220.649994,220.649994,28760700

In [4]:
def create_data(df, training_length):
    adj_close = df['Adj Close'].values
    time_steps = adj_close.shape[0]
    features = 1
    sequences = time_steps - training_length + 1
    x = np.zeros((sequences-1, training_length, features))
    y = np.zeros((sequences-1))
    for seq in range(sequences-1):
        x[seq, :, :] = adj_close[seq:seq+training_length].reshape(training_length, features)   
        y[seq] = adj_close[seq+training_length]
    return x, y

In [5]:
x, y = create_data(df, 40)
y.dtype

dtype('float64')

In [10]:
model = Sequential()
model.add(LSTM(64,
               activation='sigmoid',
               recurrent_activation='sigmoid',
               return_sequences=True, 
               input_shape=(40,1)))
model.add(Dropout(0.5))
model.add(LSTM(64,
              return_sequences=True))
model.add(Dropout(0.5))
model.add(LSTM(64,
              return_sequences=False))
model.add(Dropout(0.5))
model.add(Dense(64))
model.add(Dropout(0.5))
model.add(Dense(1))
model.compile(loss='mean_squared_error',
             optimizer='adam',
             metrics=['mae', 'mse'])

In [11]:
model.fit(x, y, epochs=40, batch_size=32)

Epoch 1/40
2178/2178 [==============================] - 40s 18ms/step - loss: 6368.1668 - mean_absolute_error: 62.8881 - mean_squared_error: 6368.1668
Epoch 2/40
2178/2178 [==============================] - 30s 14ms/step - loss: 2803.1298 - mean_absolute_error: 42.9923 - mean_squared_error: 2803.1298
Epoch 3/40
2178/2178 [==============================] - 29s 13ms/step - loss: 2811.7523 - mean_absolute_error: 43.6739 - mean_squared_error: 2811.7523
Epoch 4/40
2178/2178 [==============================] - 29s 13ms/step - loss: 2779.9187 - mean_absolute_error: 43.2253 - mean_squared_error: 2779.9187
Epoch 5/40
2178/2178 [==============================] - 28s 13ms/step - loss: 2822.7787 - mean_absolute_error: 43.6991 - mean_squared_error: 2822.7787
Epoch 6/40
2178/2178 [==============================] - 29s 13ms/step - loss: 2819.3192 - mean_absolute_error: 43.4071 - mean_squared_error: 2819.3192
Epoch 7/40
2178/2178 [==============================] - 29s 14ms/step - loss: 2804.6665 - mean_absolute_error: 43.1807 - mean_squared_error: 2804.6665
Epoch 8/40
2178/2178 [==============================] - 30s 14ms/step - loss: 2751.6086 - mean_absolute_error: 42.8097 - mean_squared_error: 2751.6086
Epoch 9/40
2178/2178 [==============================] - 31s 14ms/step - loss: 1424.4806 - mean_absolute_error: 26.3680 - mean_squared_error: 1424.4806
Epoch 10/40
2178/2178 [==============================] - 28s 13ms/step - loss: 617.3845 - mean_absolute_error: 17.1389 - mean_squared_error: 617.3845
Epoch 11/40
2178/2178 [==============================] - 28s 13ms/step - loss: 483.0678 - mean_absolute_error: 15.7689 - mean_squared_error: 483.0678
Epoch 12/40
2178/2178 [==============================] - 29s 13ms/step - loss: 438.4816 - mean_absolute_error: 14.9726 - mean_squared_error: 438.4816
Epoch 13/40
2178/2178 [==============================] - 29s 13ms/step - loss: 480.8453 - mean_absolute_error: 15.6728 - mean_squared_error: 480.8453
Epoch 14/40
2178/2178 [==============================] - 29s 13ms/step - loss: 438.5157 - mean_absolute_error: 14.9433 - mean_squared_error: 438.5157
Epoch 15/40
2178/2178 [==============================] - 29s 13ms/step - loss: 404.8481 - mean_absolute_error: 14.3807 - mean_squared_error: 404.8481
Epoch 16/40
2178/2178 [==============================] - 29s 13ms/step - loss: 408.3900 - mean_absolute_error: 14.5676 - mean_squared_error: 408.3900
Epoch 17/40
2178/2178 [==============================] - 28s 13ms/step - loss: 437.9522 - mean_absolute_error: 15.1440 - mean_squared_error: 437.9522
Epoch 18/40
2178/2178 [==============================] - 29s 13ms/step - loss: 405.8859 - mean_absolute_error: 14.4963 - mean_squared_error: 405.8859
Epoch 19/40
2178/2178 [==============================] - 29s 13ms/step - loss: 404.2963 - mean_absolute_error: 14.6657 - mean_squared_error: 404.2963
Epoch 20/40
2178/2178 [==============================] - 29s 13ms/step - loss: 386.8907 - mean_absolute_error: 13.9289 - mean_squared_error: 386.8907
Epoch 21/40
2178/2178 [==============================] - 29s 13ms/step - loss: 401.4223 - mean_absolute_error: 14.1660 - mean_squared_error: 401.4223
Epoch 22/40
2178/2178 [==============================] - 30s 14ms/step - loss: 382.3461 - mean_absolute_error: 14.1345 - mean_squared_error: 382.3461
Epoch 23/40
2178/2178 [==============================] - 30s 14ms/step - loss: 355.8046 - mean_absolute_error: 13.3231 - mean_squared_error: 355.8046
Epoch 24/40
2178/2178 [==============================] - 29s 13ms/step - loss: 384.8337 - mean_absolute_error: 13.9266 - mean_squared_error: 384.8337
Epoch 25/40
2178/2178 [==============================] - 30s 14ms/step - loss: 386.8220 - mean_absolute_error: 14.0943 - mean_squared_error: 386.8220
Epoch 26/40
2178/2178 [==============================] - 29s 13ms/step - loss: 385.3860 - mean_absolute_error: 13.7031 - mean_squared_error: 385.3860
Epoch 27/40
2178/2178 [==============================] - 30s 14ms/step - loss: 363.3463 - mean_absolute_error: 13.6610 - mean_squared_error: 363.3463
Epoch 28/40
2178/2178 [==============================] - 29s 13ms/step - loss: 373.4828 - mean_absolute_error: 13.7095 - mean_squared_error: 373.4828
Epoch 29/40
2178/2178 [==============================] - 29s 13ms/step - loss: 380.9126 - mean_absolute_error: 13.8896 - mean_squared_error: 380.9126
Epoch 30/40
2178/2178 [==============================] - 29s 13ms/step - loss: 375.4383 - mean_absolute_error: 13.8160 - mean_squared_error: 375.4383
Epoch 31/40
2178/2178 [==============================] - 29s 13ms/step - loss: 349.4897 - mean_absolute_error: 13.4393 - mean_squared_error: 349.4897
Epoch 32/40
2178/2178 [==============================] - 29s 13ms/step - loss: 378.9322 - mean_absolute_error: 13.6227 - mean_squared_error: 378.9322
Epoch 33/40
2178/2178 [==============================] - 29s 13ms/step - loss: 361.0468 - mean_absolute_error: 13.3685 - mean_squared_error: 361.0468
Epoch 34/40
2178/2178 [==============================] - 29s 13ms/step - loss: 372.1351 - mean_absolute_error: 13.4164 - mean_squared_error: 372.1351
Epoch 35/40
2178/2178 [==============================] - 29s 13ms/step - loss: 379.9401 - mean_absolute_error: 13.5562 - mean_squared_error: 379.9401
Epoch 36/40
2178/2178 [==============================] - 29s 13ms/step - loss: 375.3586 - mean_absolute_error: 13.7389 - mean_squared_error: 375.3586
Epoch 37/40
2178/2178 [==============================] - 28s 13ms/step - loss: 356.7906 - mean_absolute_error: 13.2792 - mean_squared_error: 356.7906
Epoch 38/40
2178/2178 [==============================] - 29s 13ms/step - loss: 344.4077 - mean_absolute_error: 13.0337 - mean_squared_error: 344.4077
Epoch 39/40
2178/2178 [==============================] - 27s 13ms/step - loss: 348.0575 - mean_absolute_error: 13.1003 - mean_squared_error: 348.0575
Epoch 40/40
2178/2178 [==============================] - 30s 14ms/step - loss: 328.3575 - mean_absolute_error: 12.7776 - mean_squared_error: 328.3575

In [20]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_13 (LSTM)               (None, 40, 64)            16896
_________________________________________________________________
dropout_15 (Dropout)         (None, 40, 64)            0
_________________________________________________________________
lstm_14 (LSTM)               (None, 40, 64)            33024
_________________________________________________________________
dropout_16 (Dropout)         (None, 40, 64)            0
_________________________________________________________________
lstm_15 (LSTM)               (None, 64)                33024
_________________________________________________________________
dropout_17 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_9 (Dense)              (None, 64)                4160
_________________________________________________________________
dropout_18 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 65
=================================================================
Total params: 87,169
Trainable params: 87,169
Non-trainable params: 0
_________________________________________________________________