In [1]:
import pandas as pd
import numpy as np

In [4]:
data = "Price/AAPL.csv"

df = pd.read_csv(data)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-12-31,30.447144,30.478571,30.080000,30.104286,20.230061,88102700
1,2010-01-04,30.490000,30.642857,30.340000,30.572857,20.544939,123432400
2,2010-01-05,30.657143,30.798571,30.464285,30.625713,20.580460,150476200
3,2010-01-06,30.625713,30.747143,30.107143,30.138571,20.253105,138040000
4,2010-01-07,30.250000,30.285715,29.864286,30.082857,20.215658,119282800